<script>
function sort(value){
   url = UpdateQueryString("sortby",value)
   window.location.href = url;
}
function highlightOption(value){
  document.getElementById(value).style.backgroundColor = "#e6ffff";
  document.getElementById(value).style.cursor = "cell";
}
function unhighlightOption(value){
  document.getElementById(value).style.backgroundColor = "#ffffff"
}
function filter(){
   filterAttributes = ['airlines','minPrice','maxPrice','minTime','maxTime'];
   filterQuery = []
   url = window.location.href
   for(i=0;i<filterAttributes.length;i++){
     if(document.getElementById(filterAttributes[i]).value!="")
      filterQuery[filterAttributes[i]] = document.getElementById(filterAttributes[i]).value
      url = removeURLParameter(url,filterAttributes[i])
   }
   Object.keys(filterQuery).forEach(function(key){
     url = UpdateQueryString(key,filterQuery[key],url)
   });
   window.location.href = url;
}
function removeURLParameter(url, parameter) {
    //prefer to use l.search if you have a location/link object
    var urlparts= url.split('?');
    if (urlparts.length>=2) {

        var prefix= encodeURIComponent(parameter)+'=';
        var pars= urlparts[1].split(/[&;]/g);

        //reverse iteration as may be destructive
        for (var i= pars.length; i-- > 0;) {
            //idiom for string.startsWith
            if (pars[i].lastIndexOf(prefix, 0) !== -1) {
                pars.splice(i, 1);
            }
        }

        url= urlparts[0] + (pars.length > 0 ? '?' + pars.join('&') : "");
        return url;
    } else {
        return url;
    }
}
function UpdateQueryString(key, value, url) {
    if (!url) url = window.location.href;
    var re = new RegExp("([?&])" + key + "=.*?(&|#|$)(.*)", "gi"),
        hash;

    if (re.test(url)) {
        if (typeof value !== 'undefined' && value !== null)
            return url.replace(re, '$1' + key + "=" + value + '$2$3');
        else {
            hash = url.split('#');
            url = hash[0].replace(re, '$1$3').replace(/(&|\?)$/, '');
            if (typeof hash[1] !== 'undefined' && hash[1] !== null)
                url += '#' + hash[1];
            return url;
        }
    }
    else {
        if (typeof value !== 'undefined' && value !== null) {
            var separator = url.indexOf('?') !== -1 ? '&' : '?';
            hash = url.split('#');
            url = hash[0] + separator + key + '=' + value;
            if (typeof hash[1] !== 'undefined' && hash[1] !== null)
                url += '#' + hash[1];
            return url;
        }
        else
            return url;
    }
}
</script>

<div id="resultsDivision">
  <div class=row>
    <div class="col-sm-3">
      <div class="card" style="width: 15rem;margin-bottom:40px;margin-left:5px">
          <div class="card-body">
              <h4 class="card-title">Sort By</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" id="sortPrice" onclick="sort('price')" onmouseover="highlightOption('sortPrice')" onmouseout="unhighlightOption('sortPrice')" >Price</li>
            <li class="list-group-item" id="sortDeptTime" onclick="sort('departure_time')" onmouseover="highlightOption('sortDeptTime')" onmouseout="unhighlightOption('sortDeptTime')">Departure Time</li>
            <li class="list-group-item" id="sortArrTime" onclick="sort('arrival_time')" onmouseover="highlightOption('sortArrTime')" onmouseout="unhighlightOption('sortArrTime')">Arrival Time</li>
          </ul>
      </div>
      <div class="card" style="width: 15rem;margin-top:20px;margin-left:5px">
        <form action='/list' method="get">
          <div class="card-body">
              <h4 class="card-title">Filter</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Price range:
                <div class = "row">
                  <div class = "col-sm-6">
                    <input type="text" id="minPrice" class="form-control" width=3 required="required">
                  </div>
                  <div class = "col-sm-6">
                    <input type="text" id="maxPrice" class="form-control" width=3 required="required">
                  </div>
                </div>
            </li>
            <li class="list-group-item">
              Airline name</br>
              <input type=text class= "form-control" id="airlines" name="airlines" width="10px" required="required">
            </li>
            <li class="list-group-item">
              Departure Time range:
              <div class = "row">
                <div class = "col-sm-6">
                  <input type="text" id="minTime" class="form-control" width=3 required="required">
                </div>
                <div class = "col-sm-6">
                  <input type="text" id="maxTime" class="form-control" width=3 required="required">
                </div>
              </div>
            </li>
            <button type="button" onclick="filter()" style="margin-left:5px" class="btn btn-primary"> Filter </button>
          </ul>

        </form>

      </div>
    </div>
    <div class="col-sm-7">
      <%@flights.each do|flight| %>
      <div class="card" style="width: 50rem;margin-bottom:40px">
          <div class="card-body">
              <h4 class="card-title"><%= flight.airlines%></h4>
          </div>
          <div class="card-text" style="padding:20px">
              <div class=row style="margin-left:10px" >
                <div class="col-sm-3">
                  <i class="fa fa-plane" aria-hidden="true"></i><%= flight.source%> ---> <%= flight.destination%>
                </div>
                <div class="col-sm-4">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                   <%= flight.departure_time.strftime("%I:%M%p")%> ---><%= flight.arrival_time.strftime("%I:%M%p")%>
                </div>
                <div class="col-sm-3">
                  <i class="fa fa-usd" aria-hidden="true"></i>
                   <%= flight.minPrice%> ---> <%= flight.maxPrice%>
                </div>
              </div>
          </div>
        <div class="card-body">
          <a href="#" class="card-link">View Seats</a>
        </div>
      </div>
     <%end%>
   </div>
   <div class="col-sm-2">
   </div>
  </div>
</div>
